
<h1>New Page Templates</h1> 

<p>In Mara cms, a template functions similarly to a wordprocessor template in that it forms the basis for a new webpage. A simple timesaving method for creating multiple pages in a similar, predetermined layout. </p>

<p>We give you a few examples here, but you should create your own templates to suit a specific website. A template is an existing Mara cms page with the layout preserved but any textual content specific to the original page removed. Optionally the extension may be changed to .template -but this is not essential. Plain text files can also be used. </p><p> It is not essential to have a <i>head</i> section, but meta commands in the head section will apply to the new page. Thus, a template can determine that a new page shall, for example, use a top dropdown menu instead of the default sidebar menu, and shall not have left or right sidebars when displayed onsite. This may be helpful for inexperienced editors.</p>

<p>Templates should <b>not</b> contain banners, menus or other common page elements, these will be provided by the system when the page is published. </p>

<p>If you click the 'Full' View, you can, alternatively, select any existing page as a template for your new page. </p>

Note that Mara cms templates should not be confused with the (arguably misnamed) 'templates' used by some other CMS, which determine the colours, layout and appearance of the entire website. In metalwork or textile work, a template is a cut-around stencil used to determine the shape and size of a single item. This is the context in which we use the word. Mara cms templates determine the layout of a new page, and nothing else.   